[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
install = "*"
dataset = "*"
py-cord = {git = "https://github.com/Pycord-Development/pycord.git"}
discord-ext-ui = "*"
tabulate = {extras = ["widechars"], version = "*"}

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
start = "python main.py runserver"
pi_start "nohup python main.py &"
